@import '../../../../styles/variable.css';

@keyframes sloganScroll {
  from {
    left: 0;
  }

  to {
    left: -10000px;
  }
}

:global(form .ant-mentions, form textarea.ant-input) {
  margin: 0;
}

body {
  &.hi-ve2es {
    width: 620px;
  }

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  :global(.loading) {}

  :global(.hide) {}
}

.a-a11 {}

.slogan {
  width: 100%;

  .list {
    width: 10000px;

    &.scroll {
      animation-duration: 180s;
      animation-name: sloganScroll;
      animation-timing-function: linear;
    }

    .item {
      .img {
        &.bob {
          background-image: url(../images/bob.png);
        }
      }
    }
  }
}